@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(243, 242, 236, 1) 100%
  );
}
.bottomGrad {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(243, 242, 236, 1) 100%
  );
}

.topGrad {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(243, 242, 236, 1) 100%
  );
}
.leftGrad {
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    rgba(243, 242, 236, 1) 100%
  );
}
.borderGrad {
  position: relative;
  border-style: solid;
  border-image-source: linear-gradient(
    135deg,
    rgba(175, 61, 249, 1),
    rgba(240, 157, 48, 1),
    rgba(248, 113, 113, 1)
  );
  border-width: 5px;
  padding: 1.5rem;
  border-image-slice: 1;
  /* padding: 1.5rem; */
  /* border: 10px solid transparent;
  background-clip: padding-box; */
  border-radius: 20px;
}
/* .borderGrad::after {
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background: linear-gradient(
    175deg,
    rgba(175, 61, 249, 1),
    rgba(240, 157, 48, 1),
    rgba(248, 113, 113, 1)
  );
  content: "";
  z-index: -1;
  border-radius: 16px;
} */

.swiper-button-prev::after,
.swiper-button-next::after {
  padding: 10px 14px;
  color: white;
  background: rgb(101, 84, 231);
  border-radius: 100px;
  font-size: 15px !important;
  transition: all 0.3s;
}
.swiper-button-prev::after {
  margin-right: 5px;
}
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  background-color: rgba(101, 84, 231, 0.7);
}

.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 0.7) !important;
  padding: 5px;
}
.swiper-pagination-bullets {
  bottom: 0px !important;
}
.bvd:nth-child(1) {
  color: #af3df9;
}
.bvd:nth-child(2) {
  color: #f09d30;
}
.bvd:nth-child(3) {
  color: #f87171;
}
.gradientBg {
  background: linear-gradient(
    135deg,
    rgba(175, 61, 249, 1),
    rgba(240, 157, 48, 1),
    rgba(248, 113, 113, 1)
  );
}
.bvdlabs {
  background: -webkit-linear-gradient(
    45deg,
    rgba(175, 61, 249, 1),
    rgba(240, 157, 48, 1),
    rgba(248, 113, 113, 1)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.purpleGradient {
  background: linear-gradient(
    0deg,
    rgba(175, 61, 249, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  transition: all 0.3s ease;
}

.purpleGradient:hover {
  background: linear-gradient(
    0deg,
    rgba(175, 61, 249, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.goldenGradient {
  background: linear-gradient(
    0deg,
    rgba(240, 157, 48, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );

  transition: all 0.3s ease;
}
.goldenGradient:hover {
  background: linear-gradient(
    0deg,
    rgba(240, 157, 48, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.redGradient {
  background: linear-gradient(
    0deg,
    rgba(248, 113, 113, 1) 20%,
    rgba(255, 255, 255, 1) 100%
  );
  transition: all 0.3s ease;
}
.redGradient:hover {
  background: linear-gradient(
    0deg,
    rgba(248, 113, 113, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}
.footerLinks::after {
  content: "";
  bottom: 0;
  left: 0;
  position: absolute;
  width: 0%;
  height: 1px;
  background: #000;
  transition: all 0.3s ease;
}
.footerLinks:hover::after {
  width: 20%;
}
.immortalized-swiper > .immortalizedNav {
  top: 42.5%;
}
